.cart__sectiontitle {
	margin-bottom: 0.5rem;
}

.cart__a {
	color: inherit;
	text-decoration: none;
}

.cart__section {
	padding: 1rem;
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background: white;
}

.cart{
	position: relative;
	display: flex;
	border: 1px solid silver;
	background-color: white;
	margin-bottom: 10px;
}
.cart .cart_product__img{
	padding:8px;
	/* padding-top: 15px;
	padding-left: 10px; */
	text-align: center;
	object-fit: cover;
	width: 266px;
	height: 150px;
}
.cart > .cart_Product__img{
	transform: scale(1.04);
}
.cart__info{
	padding: 10px;
	width: 100%;
	position: relative;
}
.cart_product_title, .cart_product_discription{
	margin-bottom: 10px;
	
}

.quantity {
	width: 10%;
	padding: 5px;
	padding-left: 05;
	text-align: center;
    align-items: center;
	display:flex;
}
.no {
	width: 40px;
	height: 25px;
}
/* .btn{
	width:25px;
	height:25px;
} */
.product-remove{

	position: absolute;
	bottom: 20px;
	top:30px;
	right: 20px;
	padding: 0px 0px;
	/* cursor: pointer; */
	/* border-radius: 5px; */
}

.cart_product_price{
	position: absolute;
	bottom: 30px;
	right: 43px;
	padding: 0px 0px;

}
.cart__btn{

	justify-content: space-between;
	align-items: right;
    display:flex;
    justify-content: flex-end;
}


button.icon{
    
    background-color: red;
    color:white;
    border:1px solid red;
    font-size: 16px;
}

button.icon:hover{
   opacity: 0.75;
}


.info{
    background-color: rgb(116, 198, 225);
    color:white;
    border:1px solid rgb(116, 198, 225);   
}

.info:hover{
    
    background-color:white;
   color:lightblue;
}