#nav-category {
    background: rgba(255, 255, 255, 0.95);
}

#nav-category nav {
    width: 100%;
}

#nav-category nav ul {
    display: flex;
    list-style: none;
    position: relative;
    overflow-x: auto;
}

#nav-category nav ul li {
    position: relative;

    min-width: 120px;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 0;
}

#nav-category nav a {
    color: black;
    display: block;
    padding: 8px 10px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;

}

#nav-category nav a:hover {
    /* background: rgba(255, 255, 255, 0.95); */
    background: #f1f1f1;
}

/* Hide Dropdown by Default*/
#nav-category nav ul ul {
    position: relative;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 999;
}

/* Display Dropdown on Hover */
#nav-category nav ul li:hover>ul {
    display: flex;
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    flex-direction: column;


}


/* Fisrt Tier Dropdown */
nav ul ul li {
    float: none;
    display: list-item;
    position: relative;
    text-align: center;


}

nav .category {
    display: flex;

    overflow-x: auto;
}