

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  
}

nav ul li {
    display: inline-block;
    
    background-color: white;
  
}

nav a {
    color: black;
    display: block;
    padding: 0 10px;
    line-height: 60px;
    font-size: 16px;
    text-decoration: none;
    
}

/* Hide Dropdown by Default*/
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

/* Display Dropdown on Hover */
nav ul li:hover>ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;

}
nav .category{
    display: flex;
    
    overflow-x: auto;
}
