.chec__sec {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    max-width: 1300px;
    gap: 1rem;
}


.checinfo {
    height: 100%;
    padding: 15px;
    border-radius: 8px;
    background: white;
    width: 50%;
}

.checinfo__cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.checinfo__content {
    padding: 0.5rem;
    padding-left: 0px;
}

.checinfo__card {
    display: flex;
    gap: 10px;
    border: 1px solid lightgray;
    width: 100%;
    flex-shrink: 0;
}

.checinfo__img {
    width: 200px;
    height: 120px;
    vertical-align: middle;
}

.checinfo__price {
    text-align: left;
}

.checinfo__quantity {
    font-size: 14px;
    text-align: left;
}

.checinfo__h3 {
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
}

.chec {
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    width: 50%;
}


.chec__h3 {
    font-size: 20px;
    margin-bottom: 0.5rem;
}


.chec__billingh2 {
    font-size: 18px;
    text-align: left;
    margin-top: 5px;
}

.chec__billing {
    margin-bottom: 1rem;
    border-radius: 8px;
}


.chec__orderinfotable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.chec__orderinfotable td,
.chec__orderinfotable th {
    padding: 4px;
    border: 1px solid lightgray;

}

.chec__billingselect,
.chec__payselec {
    height: 40px;
    font-size: 16px;
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
}



.chec__btn--pay {
    margin-top: 10px;
    border: none;
    color: white;
    padding: 12px 16px;
    min-width: 240px;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgba(80, 181, 215, 0.8);
}



.chec__btn--pay:hover {
    color: white;
    background-color: rgba(80, 181, 215, 1.0);
}


