.checkout-section {
    display: flex;
}


.product-summary{
    height:100%;
    padding: 15px;
    border-radius: 8px;
    background: white;
    width: 50%;
}

.product-summary__card {
    display: flex;
    display: grid;
    gap: 10px;
    border: 1px solid lightgray;
}

.product-summary__img {
    width: 200px;
    height: 120px;
    vertical-align: middle;
}

.product-summary__price{
    text-align: right;
}
.product-summary__quantity{
    font-size: 14px;
    text-align: left;
}

.product-summary__h3{
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}

.product-summary__h4{
    font-size: 12px;
    text-align: justify;
}


.product-checkout{
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    width: 50%;
}


.product-checkout__h1{
    font-size: 20px;
    margin:5px 10px 2px 10px;
    text-align: center;
}


.billing-section__h2{
    font-size: 18px;
    text-align: left;
    margin-top:5px;
}


/* label{
    display:inline-block;
    height: 12px;
    width:80px;
   

} */

/* input{
    width:120px;
    height:12px;
    display: inline-block;
} */




/* .logo{
    width:160px;
    margin: 0px 0px;
    display:block;
    padding: 5px 0;

    filter: brightness(1);
} */
   

/* Global Container */
.container-checkout {
    gap: 8px;
}


.billing-section{
    border:1px solid lightgray;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
}

.order-section__table {
    width: 100%;
    border-collapse: collapse;
}

.order-section__table td,
.order-section__table th {
    padding: 4px;
}

.billing-section__select ,
.payment-section__select{
    height: 40px;
    font-size: 16px;
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
}


/* Applies to our card-container only */
.card-container-summary .card-product-summary {
    margin-bottom: 8px;
    border-radius: 4px;
    background: white; 
    border: 1px solid lightgray;
}

.card-container-summary .card-product-summary img{
    flex: unset;
    padding: 10px;  
    margin:0px;
    height:160px;
    width:300px;
}

.card-container-summary .card-product-summary .description{
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom:5px;
    text-align: right;
}


.button--info{
    margin-top: 10px;
    border: none;
      color: white;
      padding: 12px 32px;
      text-align: center;
      text-decoration: none;
      border-radius: 0.5rem;
    background-color: rgba(80, 181, 215, 0.8);
}

   

.button--info:hover{
    color:white;
    background-color:rgba(80, 181, 215, 1.0);
}







/* Just for reference, no USE */
.blah {
    flex-shrink: 0; /* This means do not minimize, we give you width, make it fixed. */ 
    flex-grow: 0; /* This means do not maximize, we give you width, make it fixed. */
}