body{
    background-color: #ddd;
}

.sidebar__container{
    position: fixed;
    top: 0px;
    height:100%;
    width:260px;
    overflow-y: auto;
    background-color:#313a46;
    margin: 0px;
}

.sidebar__logo {
    width:160px;
    margin: 0 auto;
    display:block;
    padding: 20px 0;

    /* Filter  */
    filter: brightness(0) invert(1);
}

/* Navigation style */
.sidebar__nav, 
.sidebar__nav-dropdown {
    padding-left: 0px;
}

.sidebar__nav-link .sidebar__nav-dropdown {
    display: none;
}

.sidebar__nav-link:hover .sidebar__nav-dropdown {
    display: block;
}

.sidebar__nav li{
    display:block;
     color: aliceblue;
     text-align: left;
     margin:0px;
     padding: 12px 16px;
     border-bottom: 1px solid lightgray;
     cursor: pointer;
     
 
 }
 .sidebar__nav .sidebar__nav-link:hover{
    color: #eee;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.25);
 
 }
 
.sidebar__nav-link .sidebar__nav-dropdown {
    margin-top: 16px;
    border-top: 1px solid lightgray;
 }


 .sidebar__nav .fa {
    font-size: 24px;
    position: relative;
    top: 3px;
    left: 3px;
}
 .sidebar__nav a {
    color: inherit;
    text-decoration: none;
 }
 
 .sidebar__nav .nav-link ul li {
    padding: 8px 16px;
    font-weight: normal;
 }

 .sidebar__nav .sidebar__nav-link ul li:hover {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
 }

 
.table__customer{
    margin-left:275px;
    align-content:right;
    padding: 15px;
    background-color: white;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow-x: auto;
}



.table__customer table{
    width: 100%;
    border-collapse: collapse;
    min-width: 1300px;
}


.table__customer th,
.table__customer td{
    border:2px rgb(229, 218, 218) solid;
    padding: 8px;
    border-collapse: collapse;
    background-color: white;
    
}


.table__customer th {
    color: white;
    background: lightseagreen;
}



