/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  


:root {
    --xs: 576px;
}

/* body, button, input */
body {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 0px 0px 0px;
    /*background-color: #eee; /* /* default bg is gray */
    background:  linear-gradient(to bottom, rgba(255, 255, 255,0.8), rgba(255, 255, 255,0.8)),
    url("/epasale/public/img/background.jpg") center/300px 300px repeat;

}

.link {
    text-decoration: none;
    color: #FF9800;
    border-bottom: 2px solid transparent;
}

.link:hover {
    border-bottom: 2px solid #FF9800;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

input, textarea, select {
    font: inherit;
}

button {
    font: inherit;
}

img {
    vertical-align: middle;
}

.container{
    max-width: 1320px;
    padding-left:1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;

}

.row {
    display: flex;
    flex-direction: row;
}


.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
    flex-basis: 1;
    flex-shrink: 0;
    flex-grow: 0;
}

.col-12 {
    width: calc(12/12 * 100%);
}

.col-11 {
    width: calc(11/12 * 100%);
}

.col-10 {
    width: calc(10/12 * 100%);
}

.col-9 {
    width: calc(9/12 * 100%);
}

.col-8 {
    width: calc(8/12 * 100%);
}
.col-7 {
    width: calc(7/12 * 100%);
}

.col-6 {
    width: calc(6/12 * 100%);
}

.col-5 {
    width: calc(5/12 * 100%);
}

.col-4 {
    width: calc(4/12 * 100%);
}

.col-3 {
    width: calc(3/12 * 100%);
}

.col-2 {
    width: calc(2/12 * 100%);
}
.col{
    width:calc(1/12* 100%);
}
.footer__p {
    text-align: center;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(204, 189, 189);
    padding-top: 8px;
    font-size: 14px;
    padding-bottom: 8px;

}



button, .button {
    border: none;
    color: black;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    text-wrap: nowrap;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.75;
}

.button-small {
    padding: 8px 16px;
}

.default {
    background-color: gray;
    color: white;
    border: 1px solid gray;

}

.default:hover {
    background-color: white;
    color: gray;
}

.btn-primary {
    color: white;
    background: #FF9800;
}

.info {
    background-color: lightblue;
    color: white;

    border: 1px solid lightblue;
}

.info:hover {

    background-color: white;
    color: lightblue;
}

.success {
    background-color: green;
    color: white;

    border: 1px solid green;
}

.success:hover {

    background-color: white;
    color: green;
}


.warning {

    background-color: red;
    color: white;
    border: 1px solid red;
}

.warning:hover {

    background-color: white;
    color: red;
}


/* .icon {
    background-color: lightgreen;
    color: white;
    border: 1px solid lightgreen;
    font-size: 16px;
}

.icon:hover {

    background-color: white;
    color: lightgreen;
} */


/* Profile */
.profile__avatar {
    color: white;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    background: orange;
    border-radius: 8px;
    margin-right: 8px;
    font-weight: 400;
    font-size: 18px;
}

.profile__container {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 8px;
    background: transparent;
    text-align: left;
    z-index: 999;
    /* min-width: 200px; */
}

.profile__container--dashboard {
    color: black;
}

.profile__container:hover .profile__menu {
    display: block;
}

.profile__container:hover {
    background: rgba(0, 0, 0, 0.1);
}

.profile__description {
    line-height: 15px;
}

.profile__description h4 {
    margin: 0px;
    line-height: 17px;
    font-weight: 500;
    font-size: 14px;
}

.profile__description p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.profile__menu {
    display: none;
    position: absolute;
    width: 180px;
    background: white;
    top: 40px;
    right: 0px;
    padding: 8px 4px 8px 4px;
    border-radius: 8px;
    z-index: 9999;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.05);
}

.profile__menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black !important;
    padding: 4px;
    font-size: 14px;
    border-radius: 8px;
}

.profile__menu a:hover {
    background: rgba(0, 0, 0, 0.05);
}