/* Header styles */
header {
  background: lightseagreen;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header__container {
  color: #c3aaaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
}


.header_logo {
 width: 120px;
}

.header_searchbar {
  display: flex;
  width: 100%;
  padding: 2px;
  max-width: 36rem;
  border-radius: 25px;
  border: 1px solid #ccc;

}

.header_searchbar input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 45px;
}

.search_icon_background {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 12px 24px;
  height: 45px;
}

.search_icon {
  border-radius: 25px;
  color: #000000;
  font-size: 16px;
  margin-left: 10px;
}

.cart_icon {
  display: flex;
  align-items: center;
  padding: 4px;
  font-size: 18px;
}

/* Navbar styles */
.header__nav {
  border: 0px;
}

.header__nav ul {
  display: flex;
  border: 0px;
}

.header__nav li {
  list-style: none;
  padding: 10px;
  border-bottom: 0px;
  line-height: 1.5;
}

.header__nav a:hover {
  opacity: 0.75;
}

.header__nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}