


/* Header styles */
header {
  background: lightseagreen;
<<<<<<< HEAD
  color: #c3aaaa; 
  padding: 0 10px;
=======
  color: #fff;
  padding: 0;
}

.header {
  padding:  0.25rem 0px;
 
>>>>>>> c32de36553238a331349ed5314231c551cb40c0a
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_background {
  display: flex;
  align-items: center;
}

/* Increase the size of the logo image */
.logo {
  width:100px;
  /* Adjust the width to make the image larger */
  height: 60px;
<<<<<<< HEAD
  /* Adjust the height to make the image larger */
  margin-right: 1rem;

=======
>>>>>>> c32de36553238a331349ed5314231c551cb40c0a
}

.logo_img {
  margin-top: 10px;
  
}

.searchBox {
  display: flex;
 
  border: 1px solid #ccc;
  width: 55.5rem;
  border-radius: 25px;
  padding: 5px;
  /* margin-right: 5%; */
}

.searchBox input {
  border: none;
  outline: none;
  padding: 14px;
  width: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 45px;
}

.search_icon_background {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 12px 24px;
  height: 45px;
}

.search_icon {
  border-radius: 25px;
  color: #000000;
  font-size: 16px;
  margin-left: 10px;
}

.cart_icon {
  display: flex;
  align-items: center;
}

.cart_icon {
  font-size: 18px;
  padding: 4px;
}

/* Navbar styles */
.navbar ul {
  display: flex;
  align-items: left;
}

.navbar li {
  list-style: none;
  padding: 10px;
  line-height: 31px;
}

.navbar a:hover {
  opacity: 0.75;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}