
.index_card{
    cursor: pointer;
    border-radius: 8px;
}
.seller-group{
font-size: 0.8rem;
margin-left:0.5rem;
border:2px solid black;
}
.seller-info{
border-bottom: 0.5px dotted black;
width:100%
}
.seller-info__button-seemore{
    padding:0.3rem;
    width:7rem;
}
.card{
    margin-top:0.5rem;
    margin-left: 0.5rem;
display:flex;
justify-content: space-between;
}
.card--img{
    width:298.4;
    height:167.5px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.card--body{
    padding: 12px;
    border-top: 1px solid #eee;
    display: flex;

}
.card__title{
    display: block;
    font-weight: 500;
    font-size: 18px;
}
