
.auth-form {
    height: auto;
    width: 480px;
    padding: 10px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.auth-form__h1 {
    padding: 10px;
    text-align: center;
    color: #FF9800;
}

.auth-form__wrapper {
    display: flex;
    flex-direction: column;
}

.auth-form__wrapper label {
    margin-bottom: 0.25rem;
    display: block;
} 

.auth-form__input {
    display: block;
    padding: 10px;
    width: 100%;
}

.auth-form__form-group {
    padding: 10px 15px;
}

.auth-form__link {
    line-height: 1.6;
}

.auth-form__form-group i {
    color: #FF9800;
}

.auth-form__p {
    display: flex;
    justify-content: flex-end;
}

.error-msg{
    color:red;
    font-size: 14px;
}

.auth-form__form-links {
    padding-top: 0px;
}