
.form__container {
    padding: 1rem;
}

.form {
    max-width: 480px;
    width: 100%;
    padding: 20px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.form__h1 {
    padding: 10px;
    text-align: center;
    color: #FF9800;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.25rem;
    display: inline-block;
} 

.form-input {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 4px;
    border: 1px solid #404040;
    border-radius: 4px;
}

.form-group {
    padding: 8px 0px;
}

.form__link {
    line-height: 1.6;
}

.form-group i {
    color: #FF9800;
}

.form__p {
    display: flex;
    justify-content: flex-end;
}

.error-msg{
    color:red;
    font-size: 14px;
}

.form__form-links {
    padding-top: 0px;
}