*{
  box-sizing: border-box;
}
  .img{
    border: 1px solid lightgray;
    margin-bottom: 15px;
}

  .small-container{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    
}
.row{
flex-direction: row;
background:#fff;


}
col-2{
  position: relative;
  width: 100%;
  display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 7/15;
      display: flex;
      justify-content: space-between;
}

product-detail h3{
    display: block;
    font-size: 1rem;
    font-weight: bold;

}
.product-detail .row .col-5 {
  flex: calc(5 * 100% / 12);
  max-width: unset;
}
.col-5{
  display: flex;
}