
.product-detail .product-info .product_img {
  /* padding-left: 5px; */
  max-width: 100%;
  height: 350px;
  aspect-ratio: 16 / 7;
  cursor: pointer;
}
.product-details .detail{
  margin-top:0.5rem;
}
.product-details .detail p{
  color: black;
  font-size:12px;
}
.quantity .number {
font-size: 1rem;
margin:0 0.5rem 0 0.5rem;
}
.product-details .quantity .button{
  display:flex;
  align-items: center;
  height:30px;
  color:black;
}
.product-details .quantity{
  margin:0rem 1rem 0 0;
}
.product-details .button2 .buy{
  width:120px;
  height:30px;
}
.product-details .button2 .cart{
  width:120px;
  height:30px;
  margin-left:1rem;
}
.product-recommendation {
  aspect-ratio: 16/5;
  margin-top: 0.5rem;
}
.product-recommendation .border{
  padding: 1px;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}
.product-recommendation .store{
text-align: center;

}
.product-recommendation .seller_product{
display: flex;
width: 100%;
border: 1px solid rgb(21, 21, 21);
margin-bottom: 0.5rem;
}
.product-recommendation .seller_product .sideproduct_img{
width:207.2px;
height:98.86px;
padding:0.4rem;
}
.product-recommendation .seller_product .product-info .product-name, .discription{
margin-bottom: 0.5rem;
}