.seller__container {
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


.seller {
    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    font-size: 0.8rem;
    border: 2px solid #FF9800;
    margin-bottom: 1rem;
}

.seller__a {
    text-decoration: none;
    color: inherit;
}

.seller__a:hover {
    color: #FF9800;
}


.seller__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}


.seller__profile {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.seller__profile .seller__profile__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #FF9800;
    object-fit: contain;
    background: #eee;
    object-position: center;
}


.seller__content {
    display: flex;
    flex-wrap: nowrap;
    /* makes horizontally stack */
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    padding: 0.5rem;
    overflow-x: auto;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    /* allows horizontall scroll as needed */
}



.seller__card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
    border-radius: 20px;
    border-radius: 8px;
    border: 1px solid #FF9800;
    background: #ffffff;
    flex: 300px 0 0;
    max-width: 420px;
    display: flex;
    flex-direction: column;
}

.seller__cardbody {
    padding: 10px;
}

.seller__cardsubtitle {
    font-weight: 500;
    font-size: 14px;
    color: green;
}

.seller__btn--cart,
.qtygroup__btn--dec,
.qtygroup__btn--inc {
    margin-top: 10px;
    width: 100%;
    padding: 8px 12px;
    border: 0px;
    border-radius: 5px;
    color: white;
    background: #FF9800;
    cursor: pointer;
}

.qtygroup__input {
    padding: 4px 4px 4px 4px;
    width: 60px;
    text-align: center;
}


.qtygroup__btn--dec,
.qtygroup__btn--inc {
    background: transparent;
    width: auto;
    color: #333;
    font-size: 20px;
    margin: 0px;

}



.quantity {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 5px;
    padding: 0px;

}

.quantity_control {
    display: flex;
    align-items: center;
    padding-bottom: 5px;

}

.quantity_control button {
    font-size: 20px;
    color: #000000;
    background: none;
    border: none;
    padding: 5px;
    border-radius: 15%;
    font-weight: 200px;
}

.quantity_box {

    background-color: #ffffff;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* Center the button */
.action {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100%;
}

/* Button style with linear gradient background */
.action button {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: linear-gradient(to bottom, #8C8175, #968572);
    color: #fff;

    border: none;
    width: 100%;
    /* Match the seller__card width */
    padding: 10px 0;
    /* Adjust padding for spacing */
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

/* help change color when hovering */
.action button:hover {
    background: linear-gradient(to bottom, #9CC89F, #5f8d74);
    /* Linear gradient on hover */
}

/* end */


/* Product Card (prd-seller__card) */
.prd-seller__card {
    width: 220px;
    border-width: 1px;
    border-style: solid;
    border-color: #FF9800;
}

.prd-card__img {
    width: 100%;
    aspect-ratio: 16 / 9;
    vertical-align: middle;
    object-fit: cover;
}

.prd-card__h2 {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0.25rem;
}

.prd-card__p {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.prd-seller__cardbody {
    padding: 0.5rem;

}

.prd-card__qty-grp {
    margin-bottom: 0.25rem;
}

.prd-card__qty {
    font-size: 14px;
    padding: 0.1rem 0.25rem;

}

.prd-card__button {
    padding: 0.25rem 0.75rem;
    width: 100%;
    border-radius: 4px;
    border: 0px;
    outline: none;
    font: inherit;
    font-size: 14px;
    color: white;
    background-color: #FF9800;
}


.index_card {
    cursor: pointer;
    border-radius: 8px;
}

.seller-info__button-seemore {
    padding: 0.3rem;
    width: 7rem;
}

.qtygroup__cardimg {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.seller__card--body {
    padding: 12px;
    border-top: 1px solid #FF9800;
    display: flex;

}

.seller__cardtitle {
    /* font-family: 'Courier New', Courier, monospace; */
    display: block;
    font-weight: 600;
    font-size: 18px;
}





/* 




    
.index_food_image {
    width: 100%;
}
*/