/* Import remote external fontawesome css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

/* Import remote google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');

@import url("./global.css");
/* global style file */
@import url("./header.css");
@import url("./category.css");
@import url("./product.css");
@import url("./product_detail.css");
@import url("./checkout.css");
@import url("./table.css");
@import url("./checkout.css");
@import url("./sellerpage.css");
@import url("./login.css");



:root {
  --extra-small: 575.98px;
  --small: 767.98px;
  --medium: 991.98px;
  --large: 1199.98px;
  --extra-large: 1200px;
}

@media screen and (max-width: 375px) {
  .header__nav li {
    padding: 6px;
  }

  .header__container {
    justify-content: center
  }

  .header_logo {
    display: none;
  }

  .form__container {
    padding: 0.5rem !important;
  }
}

@media screen and (max-width: 576px) {
  .header__searchbar {
    order: -1;
  }


  .seller__info button {
    display: none;
  }

  .form-group {
    padding: 8px !important;
  }
}


@media screen and (max-width: 768px) {
  .header_logo img {
    width: 100px;
  }

  .header__container {
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }


  .header__searchbar input {
    padding: 6px 10px;
    height: 45px;
    font-size: 16px;
  }

  .search_icon_background {
    padding: 6px 18px;
    height: 45px;
  }

}




/* Small Devices (tablets, 576px - 767.98px) */
@media screen and (min-width: 576px) {}

/* Medium Devices (desktops, 768px - 991.98px) */
@media (min-width: 768px) {
  .header__searchbar {
    max-width: 18rem;
    order: initial;
  }
}

/* Large Devices (large desktops, 992px - 1199.98px) */
@media (min-width: 992px) {
  .header__searchbar {
    max-width: 36rem;
  }
}

/* Extra Large Devices (extra large screens, 1200px and above) */
@media (min-width: 1200px) {}

.badge {
  display: inline-block;
  text-align: center;
  background: #FF8800;
  color: white;
  padding: 8px 20px;
  line-height: 1.2;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: 2px;
}

.badge-empty, .badge-not-empty {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: red;
  padding: 0px;
}

.badge-not-empty {
  background-color: green;
}