<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="category.css">
    </head>
    <body>

 <div id="container">
        <nav>
            <ul>
                <li><a href="" class="category">Chicken</a>
                <!--Fridt Tier Drop Down-->
                <ul>
                    <li><a href="">Chicken Momo</a></li>
                    <li><a href="">Chicken Chowmeen</a></li>
                    <li><a href="">Chicken Burger</a></li>
                    <li><a href="">Chicken Sandwich</a></li>
                    <li><a href="">Chicken Roll</a></li>
                    <li><a href="">Pizza</a></li>
                    <li><a href="">Biryani</a></li>
                </ul>
                <li><a href="" class="category">Beef</a>

                    <!--First Tier Drop Down--> 
                <ul>
                    <li><a href="" >Chowmeen</a> </li>
                    <li><a href="">Burger</a> </li>
                    <li><a href="">Momo</a> </li>
                    <li><a href="">Sandwich</a> </li>
                    <li><a href="">Roll</a> </li>
                    <li><a href="">Pizza</a></li>
                </ul>

                <li><a href="" class="category">Veg</a>
                    <!--First Tier Drop Down--> 
                <ul>
                    <li><a href="">Veg Momo</a> </li>
                    <li><a href="">Veg Chowmeen</a> </li>
                    <li><a href="">Veg Burger</a> </li>
                    <li><a href="">Vegetable Sandwich</a> </li>
                    <li><a href="">Veg Roll</a> </li>
                    <li><a href="">Pizza</a></li>
                    <li><a href="">Samosa</a></li>
                </ul>

                <li><a href=""class="category">Sweets & Deserts</a>
                    <!--First Tier Drop Down--> 
                <ul>
                    <li><a href="">Ice cream</a> </li>
                    <li><a href="">cake</a> </li>
                    <li><a href="">Cookies</a> </li>
                    <li><a href="">Brownies</a> </li>
                    <li><a href="">Veg Roll</a> </li>
                    <li><a href="">Pastries</a></li>
                </ul>
                
                <li><a href="" class="category">Snacks</a>
                    <!--First Tier Drop Down--> 
                <ul>
                    <li><a href="">Chips</a> </li>
                    <li><a href="">Crackers</a> </li>
                    <li><a href="">Dry fruit</a> </li>
                </ul>

                <li><a href=""  class="category">Juice</a>
                    <!--First Tier Drop Down--> 
                <ul>
                    <li><a href="">Mango Juice</a> </li>
                    <li><a href="">Orange Juice</a> </li>
                    <li><a href="">Coconut Juice</a> </li>
                </ul>

                <li><a href="" class="category">Soft Drinks</a>
                    <!--First Tier Drop Down--> 
                <ul>
                    <li><a href="">Sprite</a> </li>
                    <li><a href="">Fanta</a> </li>
                    <li><a href="">Coke</a> </li>
                </ul>
            </ul>
        </nav>
    </div><!--End HTML Code-->


       
         
          
    ]
        <!-- <ul>
            <li> Food
                <ul>
                    <li>Chicken
                        <ul>
                            <li>Chicken Momo</li>
                            <li>Chicken Chowmeen</li>
                            <li>Chicken Burger</li>
                            <li>Chicken Sandwich</li>
                            <li>Chicken Roll</li>
                            <li>Pizza</li>
                            <li>Biryani</li>
                        </ul>
                    </li>
                    <li> Beef
                        <ul>
                            <li>
                                <li> Chowmeen</li>
                                <li> Burger</li>
                                <li> Momo</li>
                                <li> Sandwich</li>
                                <li> Roll</li>
                                <li>Pizza</li>
                             </li>
                        </ul>
                    </li>
                    <li> veg
                        <ul>
                            <li>veg Momo</li>
                            <li>veg Chowmeen</li>
                            <li>veg Burger</li>
                            <li>veg Sandwich</li>
                            <li>veg Roll</li>
                            <li>Pizza</li>
                            <li>Samosa</li>
                            <li>Pulao</li>
                        </ul>
                        
                    </li>
                    <li>Sweets & Deserts
                        <ul>
                            <li>Ice Cream</li>
                            <li> Cake</li>
                            <li> Cookies</li>
                            <li> Brownies</li>
                            <li>Pastries</li>

                        </ul>
                    </li>
                    <li> Snacks
                        <ul>
                            <li>Chips</li>
                            <li> Crackers</li>
                            <li> Dry fruit</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li> Drinks
                <ul>
                    <li> Juice
                        <ul> 
                            <li> Mango juice</li>
                            <li> Coconut juice</li>
                        </ul>
                    </li>
                    <li> Soft Drinks
                        <ul> 
                            <li>Sprite</li>
                            <li> Coke</li>
                            <li> Fanta</li>
                        </ul>
                    </li>
                    <li> Coffee
                        <ul>
                            <li> Cold coffee</li>
                            <li> Hot Coffee</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul> -->
    </body>
</html>