<!DOCTYPE html>
<html>
    <head>
        <title> table</title>
        <link rel ="stylesheet" type="text/css" href ="table.css">
    </head>
    <body>
        <div class="container">
            <div class="head-section">
                <div class="row">
                    <div class="col-6">
                        <img  src ="C:\Users\Admin\Downloads\3 (1).png" class="logo">
                    </div>
                    <div class="col-6">
                        <div class="head-detail">
                            <h1 class="text-white ">INVOICE</h1>
                            <p class="text-white invoice_head-section__p">Invoice No.:00001</p>
                            <p class="text-white invoice_head-section__p">Date: 2023-05-10</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-section">
                <div class="row">
                    <div class="col-6">
                        <h1 class="heading">Bill From:</h1>
                        <p class="sub-heading invoice_head-section__p">e Pasale  </p>
                        <p class="sub-heading invoice_head-section__p">Kathmandu  </p>
                        <p class="sub-heading invoice_head-section__p">9874569878  </p> 
                    </div>
                    <div class="col-6">
                        <h1 class="heading text-right">Bill To:</h1>
                        <p class="sub-heading text-right invoice_head-section__p">Ram Thapa  </p>
                        <p class="sub-heading text-right invoice_head-section__p">Pokhara </p>
                        <p class="sub-heading text-right invoice_head-section__p">9874521452  </p>
                    </div>
                </div>
            </div>
            <div class="body-section">
                <table>
                    <thead>
                        <tr>
                            <th class="invoice_th right">Items</th>
                            <th class="invoice_th right">Quantity</th>
                            <th class="invoice_th right">Price</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="invoice_td right"> Item 1</td>
                            <td class="invoice_td right"> 1</td>
                            <td class="invoice_td right"> Rs.0</td>
                            <td> Rs.000</td>     
                        </tr>
                        <tr>
                            <td class="invoice_td right"> Item 2</td>
                            <td class="invoice_tdzright"> 1</td>
                            <td class="right"> Rs.0</td>
                            <td> Rs.000</td>
                        </tr>
                        <tr>
                            <td class="right"> Item 3</td>
                            <td class="right"> 1</td>
                            <td class="right"> Rs.0</td>
                            <td> Rs.000</td>
                        </tr>
                        <tr>
                            <td class="right"> Item 4</td>
                            <td class="right"> 1</td>
                            <td class="right"> Rs.0</td>
                            <td> Rs.000</td>
                        </tr>
                        <tr>
                            <td class="right"> Item 5</td>
                            <td class="right"> 1</td>
                            <td class="right"> Rs.0</td>
                            <td> Rs.000</td>
                        </tr>
                        <tr>
                            <td colspan ="3" class="right"> Grand Total</td>
                            <td> Rs. 0000</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="heading">Payment Status: Paid</h3>
                <h3 class="heading">Payment Mode: Cash on Delivery</h3>
            </div>
        </div>
    </body>
</html>